@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  @apply bg-neutral-100 text-neutral-700;
}

@layer utilities {
  .form-container {
    @apply flex h-full w-full flex-col items-center justify-center;
  }
  .text-h1 {
    @apply text-center text-2xl font-extrabold lg:text-4xl;
  }
  .text-h2 {
    @apply text-center text-xl font-extrabold lg:text-2xl;
  }
  .text-primary {
    @apply text-orange-600;
  }
  .text-secondary {
    @apply text-teal-600;
  }
  .navbar-text {
    @apply text-xs font-semibold md:text-base;
  }
}
